@use 'assets/styles/variables' as *;
@use 'assets/styles/mixins' as *;

.footer {
  background-color: var(--bg-highlight);
  box-shadow: $box-shadow-sm;
  color: var(--text-primary);
  margin-top: auto;
  transition: all 0.3s ease;
}

.container {
  @include container;
}

.footer-content {
  padding: 2rem 0;
  text-align: center;
}

.footer-description {
  font-size: $font-size-base;
  color: var(--text-secondary);
  margin-bottom: 1rem;
  line-height: $line-height-lg;
}

.footer-copyright {
  font-size: $font-size-sm;
  color: var(--text-muted);
  margin: 0;
}
